<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <ul
        class="nav nav-tabs b-0 d-flex align-items-center justify-content-center simple_tab_links mb-4"
        id="myTab"
        role="tablist"
      >
      {%  for block in section.blocks %}
        {% assign b = block.settings %}  
        <li class="nav-item" role="presentation">
          <a
            class="nav-link {%  if forloop.index == 1 %} active {% endif %}"
            id="tab-{{ forloop.index }}"
            href="#{{ forloop.index }}"
            data-toggle="tab"
            role="tab"
            aria-controls="all"
            aria-selected="true"
            >{{ b.title  }}</a
          >
        </li>
    {% endfor %} 
        
      </ul>

      <div class="tab-content" id="myTabContent">
        {% for block in section.blocks %}
          {% assign b = block.settings.collection %}
            <div class="tab-pane fade {%  if forloop.index == 1 %}  show active {% endif %} " id="{{ forloop.index }}" role="tabpanel" aria-labelledby="all-tab">
          <div class="tab_product">
            <div class="row rows-products">
              <!-- Single -->
               {% for product in b.products limit: 8 %}
                <div class="col-xl-3 col-lg-4 col-md-6 col-6">

               {% render 'product-card', product:product  %}
              </div>
             
               {% endfor %}
               
            </div>
          </div>
        </div>
        {% endfor %}
 

 
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Tab",
  "class": "space min pt-0",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section__heading",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "type": "Collection",
      "name": "Collection",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Tab"
    }
  ]
}
{% endschema %}
